@import 'node_modules/sassyfication/src/index';
@import 'theme';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Nunito', sans-serif;
    background: var(--c-background-secondary);
}

button {
    -webkit-tap-highlight-color: transparent;
    outline: none;
    border: none;
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
}

a {
    text-decoration: none;
    cursor: pointer;
}
