.btn {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--c-text-secondary);
    margin: 0.5em;
    padding: 0.5em 1.15em;
    border-radius: 0.25em;
    transition: all 0.3s;
    font-size: 1.1em;

    > svg {
        width: 1em;
        height: 1em;
        fill: var(--c-text-secondary);
        margin-right: 0.5em;
    }

    $buttons: ('primary', 'green');

    @each $btn in $buttons {
        &.#{$btn} {
            background: var(#{'--c-' + $btn});

            &:hover {
                background: var(#{'--c-' + $btn + '-accent'});
            }

            &:active,
            &:focus {
                box-shadow: 0 0 0 2px var(#{'--c-focus-border-' + $btn});
            }
        }
    }
}

.dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 2em;
    border-radius: 0.5em;
    box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.15);
    color: var(--c-text-secondary);
    max-width: 75vw;
    animation: fadeIn 0.5s ease-in-out;
}
