{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": "./tsconfig.lint.json",
        "sourceType": "module",
        "ecmaVersion": 2018
    },
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "simon/lib/node"
    ],
    "plugins": [
        "@typescript-eslint",
        "align-import"
    ],
    "env": {
        "browser": true,
        "es6": true
    },
    "rules": {
        "no-multi-spaces": ["error", {"exceptions": {"ImportDeclaration": true}}],
        "align-import/align-import": "error",
        "new-cap": "off",
        "no-undef": "off"
    }
}
