@import '../styles/base';
@import '../styles/animations';
@import '../styles/components';

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    background: var(--c-background-primary);
    line-height: 1.75em;

    p {
        color: var(--c-text-secondary);
    }

    > svg {
        fill: white;
        height: 3em;
        width: 3em;
        margin: 0.5em auto 1em;
    }
}
