:root {
    --c-green: #1dd081;
    --c-green-accent: #1eba76;

    --c-red: #ef3840;
    --c-red-accent: #d43136;

    --c-yellow: #f6d400;
    --c-yellow-accent: #efbf10;

    --c-primary: #3d7cf9;
    --c-primary-accent: #3071ea;

    --c-text-primary: #fafafa;
    --c-text-primary-accent: #dcddde;
    --c-text-secondary: #f0f0f0;
    --c-text-disabled: #565a61;

    --c-background-primary: #2f3136;
    --c-background-primary-accent: #1d1e20;
    --c-background-secondary: #202225;
    --c-background-secondary-accent: #1d1f21;
    --c-background-tertiary: #1e1e1e;

    --c-focus-border-red: rgba(227, 41, 41, 0.42);
    --c-focus-border-green: rgba(22, 232, 81, 0.42);
    --c-focus-border-yellow: rgba(232, 230, 22, 0.42);
    --c-focus-border-primary: rgba(3, 102, 214, 0.42);
}
