:root {
    --c-red: #ff252f;
    --c-red-accent: #e51f1f;

    --c-text-primary: #fafafa;
    --c-text-primary-accent: #dcddde;
    --c-text-secondary: #565a61;
    --c-text-secondary-accent: #fff;
    --c-background-primary: #2f3136;
    --c-background-secondary: #202225;
    --c-primary: #3d7cf9;
    --c-primary-accent: #3071ea;
}
